body {
    background: #1a1a1a;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 95%;
    max-width: 500px;
    background: #222;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 16px;
}

#display {
    width: 100%;
    height: 12vh;
    min-height: 60px;
    max-height: 120px;
    background: #111;
    border: none;
    border-radius: 10px;
    color: #00ff9d;
    font-size: 4vh;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}

.btn-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 10vh;
    min-height: 55px;
    font-size: 3vh;
    border: none;
    border-radius: 10px;
    background: #333;
    color: white;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

#equal {
    width: 100%;
    height: 12vh;
    min-height: 60px;
    background: #28a745;
    font-size: 4vh;
    margin-top: 15px;
    border-radius: 10px;
}

.op {
    background: #0066ff;
}

#clear {
    background: #d9534f;
}
